{%  extends "base.html" %}

{% block title %}Marty's Stationery{%  endblock %}

{%  block content %}

{% if empty %}
    <p>Your shopping basket is empty</p>
    <pre>
                                   ,
            ,-.       _,---._ __  / \
           /  )    .-'       `./ /   \
          (  (   ,'            `/    /|
           \  `-"             \'\   / |
            `.              ,  \ \ /  |
             /`.          ,'-`----Y   |
            (            ;        |   '
            |  ,-.    ,-'         |  /
            |  | (   |   {EMPTY}  | /
            )  |  \  `.___________|/
`--'   `--'</pre>
{% else %}
    <table>
        <body>
            {% for item in sbi %}
            <tr>
                <td>{{item.product_id.name}} - {{item.product_id.description}}</td>
                <td><img src="{{item.product_id.image.url}}" width="40%" /> </td>
                <td>Quantity: {{item.quantity}}</td>
                <td>Price: {{item.price}}</td>
                <td><a href="/removeitem/{{item.id}}" style="background-color: #FAA0A0; color: black; border-color: black;" class="btn btn-primary">Remove</a></td>
            {% endfor %}
        </body>
    </table>
{% endif %}
<form method="POST", action=".">

    {% csrf_token %}
    {{form.as_table}}
    <button type="submit">Order</button>

</form>
{% endblock %}