<%- include('header') -%>
<div class="aesthetic-windows-95-container">

    <div class="aesthetic-light-purple-bg-color">
        <h1 class="aesthetic-effect-text-glitch" data-glitch="ORDER - SUCCESSFUL">ORDER - SUCCESSFUL</h1>
    </div>
    <button class="aesthetic-windows-95-button">
        <a href="/">Back to home</a>
    </button>
    <br>
    <h1 style="margin-left: 38%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"class="aesthetic-font-modifier-outline-purple">THANK YOU!</h1>

    <br>
    <div class="aesthetic-effect-crt" style="margin-top: 5%; margin-bottom: 5%; margin-left: 25%;">
        <img alt="Cowboy Bebop gif"
        src="https://cdn.dribbble.com/users/1739433/screenshots/11199795/media/760bf82e099483ef06371576061cf337.gif"
        width="500"
        height="400"
        style="margin-left: 0px;"
        >
        </img>
    </div>
    <br>
</div>

<script>
    window.onload = function(){
        isLoggedIn(); // when the page loads call isLoggedIn
    }
</script>
<%- include('footer') -%>