<%- include('header') -%>
<div class="aesthetic-windows-95-container">
    <div class="aesthetic-light-purple-bg-color">
        <h1 class="aesthetic-effect-text-glitch" data-glitch="L O G I N">L O G I N</h1>
    </div>
    <img style="width: 4%; border: none; margin-left: 5px;" src="https://cdn-icons-png.flaticon.com/512/1428/1428724.png"></img>
        <form id="login-form">
            <label for="username-input">Username</label>
            <input type="text" name="username-input" id="username" placeholder="Your username" required>
            <label for="password-input">Password</label>
            <input type="password" id="password" name="password-input" placeholder="Your password" required>
            <div class="aesthetic-windows-95-button">
            <button style="color: blue;"type="submit">Login</button>
            </div>
        </form>
        <br><br>
</div>
<script>
    function formValidator(event){
        event.preventDefault(); // always prevent default events when using javascript
        // get the value the in the username box
        let username = document.getElementById("username").value;
        // get the value in the password box
        let password = document.getElementById("password").value;
        if( username == ""){
            alert("Username cannot be null");
        }
        else if (password == ""){
            alert("Password cannot be null");
        }
        else{
            fetch("http://127.0.0.1:8000/api/token/", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username: username, password: password})
            }).then(response=>response.json())
                .then(data=>{
                    console.log(data); // still log it so we can debug
                    if('access' in data){
                        // successful login
                        let accessToken = data['access'];
                        let refreshToken = data['refresh'];
                        localStorage.setItem("access", accessToken);
                        localStorage.setItem("refresh", refreshToken);
                        window.location.href = "/"; // the "/" is the homepage for node http://127.0.0.1:3000

                    }
                    else{
                        alert("username or password invalid"); // keep obscure what specifically is invalid
                    }
                });

        }
    }

let myform = document.getElementById("login-form"); // get the form
myform.addEventListener('submit', formValidator); // bind the validator function to the submit button for the form


</script>
<%- include('footer') -%>