<%- include('header') -%>
<title>Order</title>
<div class="aesthetic-windows-95-container">
    <div class="aesthetic-light-purple-bg-color">
        <h1 class="aesthetic-effect-text-glitch" data-glitch="O R D E R">O R D E R</h1>
    </div>
    <div id="main"></div>
    <br>
    <h4 id="tprice"></h4>
    <br>
    <form id="order-form">
        <label for="address-input">Address:</label>
        <div>
            <input type="text" name="address-input" id="address" placeholder="Your address" required>
            <button class="aesthetic-windows-95-button" style="color: rgb(170, 242, 170); font-weight: 600;" type="submit">Complete Order</button>
        </div>
    </form>
</div>
</div>
<script>
    window.onload = ()=>{
        buildCartPage();
    }

    function displayCard(product_info){
        console.log(product_info);
        let token = localStorage.getItem("access");
        let product_name = product_info['name'];
        let quantity = product_info['quantity'];
        let price = product_info['price'];
        let productid = product_info['product_id'];
        fetch("http://127.0.0.1:8000/api/products/"+productid)
        .then(resp => resp.json())
        .then(data => {
            console.log(data)
            let name = data['name'];
            let price = data['price'];
            let desc = data['description'];
            let img = data['image'];
            let htmlString = "<div><h1>"+name+"</h1><p>"+desc+"</p><p>Quantity "+quantity+'</p><img src="'+img+'" width = "30%"</img></div>'
            let maindiv = document.getElementById("main");
            let innerHTML = maindiv.innerHTML
            maindiv.innerHTML = innerHTML + htmlString;
            maindiv.innerHTML = maindiv.innerHTML + '<div class="aesthetic-windows-95-button" style="color: #FF7276; margin-left: 30px;" ><button id="remove-button" onclick="removeProduct('+productid+')">Remove item</button></div>';
        })
    }

    function removeProduct(productid){
        let token = localStorage.getItem("access");
        if(token == null){
            window.location = "/login"; // redirect to login page if access token does not exist
        }
        console.log(productid)
        fetch("http://127.0.0.1:8000/apiremove/", {
            'method': 'POST',
            'headers':{
                "Accept": "application/json",
                "Content-Type": "application/json",
                'Authorization': 'Bearer '+token
            },
            'body': JSON.stringify({"product_id": parseInt(productid)})
        })
        .then(resp=>resp.json())
        .then(data =>{
            window.location.reload()
            console.log("item removed from basket")
            let notifyUserRemovedItem = document.createElement("div")
            notifyUserRemovedItem.innerHTML = "Removed item from basket";
            document.getElementById("remove-button").appendChild(notifyUserRemovedItem);
        })
    }

    let basket_id;

    function buildCartPage(){
        //
        let sumPrice = 0;
        isLoggedIn();
        let token = localStorage.getItem("access");
        if(token == null){
            window.location = "/login"; // redirect to login page if access token does not exist
        }
        else{
            fetch("http://127.0.0.1:8000/api/basket", {
                'method': 'GET',
                'headers':
                {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                    'Authorization': 'Bearer ' + token
                }
            })
            .then(resp => resp.json())
            .then(data =>{
                if(data[0]['items'].length == 0)
                {
                    let maindiv = document.getElementById("main");
                    maindiv.innerHTML = "Basket is empty!";

                    document.getElementById('image-cont').src = "https://c.tenor.com/GRFNVdnrVrgAAAAC/win-error-error.gif";
                    window.location.href = "/basket"; // sends us back to /basket if the order is empty
                }
                else {
                    let basket = data[0];
                    console.log("basket: " + basket)
                    let id = basket['id'];
                    basket_id = id;
                    let items = basket['items'];
                    items.forEach(element => {
                        displayCard(element);
                        sumPrice = sumPrice + element['price'];
                    });
                    let tprice = document.getElementById("tprice");
                    let total_price = "Total Price: €" + sumPrice;
                    tprice.innerHTML = tprice.innerHTML + total_price;
                }
            })
        }

    }

    function formValidator(event) {
        event.preventDefault();
        let address = document.getElementById("address").value;
        if( address == ""){
            alert("Address cannot be null");
        }
        else
        {
            let token = localStorage.getItem("access");
            if(token == null){
                window.location = "/login"; // redirect to login page if access token does not exist
            }
            else
            {
                fetch("http://127.0.0.1:8000/apicheckout/", {
                    'method': 'POST',
                    'headers':
                    {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token
                    },
                    body: JSON.stringify({"basket_id": parseInt(basket_id), "shipping_addr": address})
                    })
                    .then(response=>response.json())
                        .then(data=>{
                            console.log(data); // still log it so we can debug
                            if('basket_id' in data && 'shipping_addr' in data){
                                // successful order
                                let notifyUser = document.createElement("div")
                                notifyUser.innerHTML = "Order succesful!";
                                document.getElementById("order-form").appendChild(notifyUser);
                                window.location.href = "/checkout";
                                //window.location.href = "/"; // the "/" is the homepage for node http://127.0.0.1:3000
                            }
                            else{
                                alert("shipping address invalid");
                            }
                    });
            }
        }
    }

    let myform = document.getElementById("order-form"); // get the form
    myform.addEventListener('submit', formValidator); // bind the validator function to the submit button for the form

</script>

<%- include('footer') -%>